<!DOCTYPE html>
<html lang="en">
  <head>
    <title>5-Asides-Turf-Kings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: IBM Plex Sans Condensed;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: normal;
        line-height: 1.5;
        color: var(--dl-color-scheme-darkblue);
        background-color: var(--dl-color-scheme-lightgrey);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/turfkings1.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./numbers-banner.css" rel="stylesheet" />
      <div class="numbers-banner-numbers-banner section-container">
        <div class="numbers-banner-container max-content-container">
          <div class="numbers-banner-heading-container">
            <span class="numbers-banner-text">
              <span>5-asides compertitive standings&nbsp;</span>
            </span>
            <h1 class="numbers-banner-text01 Heading2">
              <span>March 2024: Table Standings</span>
            </h1>
          </div>
          <div class="numbers-banner-numbers-container">
            <div class="numbers-banner-max-width max-content-container">
              <div class="numbers-banner-container001">
                <div class="numbers-banner-container002">
                  <h1 class="numbers-banner-text02"><span>ps</span></h1>
                </div>
                <div class="numbers-banner-container003">
                  <h1 class="numbers-banner-text03"><span>CLUB</span></h1>
                </div>
                <div class="numbers-banner-container004">
                  <h1 class="numbers-banner-text04"><span>MP</span></h1>
                </div>
                <div class="numbers-banner-container005">
                  <h1 class="numbers-banner-text05"><span>W</span></h1>
                </div>
                <div class="numbers-banner-container006">
                  <h1 class="numbers-banner-text06"><span>D</span></h1>
                </div>
                <div class="numbers-banner-container007">
                  <h1 class="numbers-banner-text07"><span>L</span></h1>
                </div>
                <div class="numbers-banner-container008">
                  <h1 class="numbers-banner-text08"><span>PTS</span></h1>
                </div>
                <div class="numbers-banner-container009">
                  <h1 class="numbers-banner-text09"><span>GF</span></h1>
                </div>
                <div class="numbers-banner-container010">
                  <h1 class="numbers-banner-text10"><span>GA</span></h1>
                </div>
                <div class="numbers-banner-container011">
                  <h1 class="numbers-banner-text11"><span>GD</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-max-width01 max-content-container">
            <div class="numbers-banner-container012">
              <div class="numbers-banner-container013">
                <h1 class="numbers-banner-text12"><span>1</span></h1>
              </div>
              <div class="numbers-banner-container014">
                <h1 class="numbers-banner-text13">
                  <span>Tidal Wave (TW)</span>
                </h1>
              </div>
              <div class="numbers-banner-container015">
                <h1 class="numbers-banner-text14"><span>22</span></h1>
              </div>
              <div class="numbers-banner-container016">
                <h1 class="numbers-banner-text15"><span>14</span></h1>
              </div>
              <div class="numbers-banner-container017">
                <h1 class="numbers-banner-text16"><span>2</span></h1>
              </div>
              <div class="numbers-banner-container018">
                <h1 class="numbers-banner-text17"><span>6</span></h1>
              </div>
              <div class="numbers-banner-container019">
                <h1 class="numbers-banner-text18"><span>44</span></h1>
              </div>
              <div class="numbers-banner-container020">
                <h1 class="numbers-banner-text19"><span>35</span></h1>
              </div>
              <div class="numbers-banner-container021">
                <h1 class="numbers-banner-text20"><span>18</span></h1>
              </div>
              <div class="numbers-banner-container022">
                <h1 class="numbers-banner-text21"><span>17</span></h1>
              </div>
            </div>
          </div>
          <div class="numbers-banner-max-width02 max-content-container">
            <div class="numbers-banner-container023">
              <div class="numbers-banner-container024">
                <h1 class="numbers-banner-text22"><span>2</span></h1>
              </div>
              <div class="numbers-banner-container025">
                <h1 class="numbers-banner-text23">
                  <span>High Fives (HF)</span>
                </h1>
              </div>
              <div class="numbers-banner-container026">
                <h1 class="numbers-banner-text24"><span>19</span></h1>
              </div>
              <div class="numbers-banner-container027">
                <h1 class="numbers-banner-text25"><span>8</span></h1>
              </div>
              <div class="numbers-banner-container028">
                <h1 class="numbers-banner-text26"><span>3</span></h1>
              </div>
              <div class="numbers-banner-container029">
                <h1 class="numbers-banner-text27"><span>8</span></h1>
              </div>
              <div class="numbers-banner-container030">
                <h1 class="numbers-banner-text28"><span>27</span></h1>
              </div>
              <div class="numbers-banner-container031">
                <h1 class="numbers-banner-text29"><span>20</span></h1>
              </div>
              <div class="numbers-banner-container032">
                <h1 class="numbers-banner-text30"><span>21</span></h1>
              </div>
              <div class="numbers-banner-container033">
                <h1 class="numbers-banner-text31"><span>-1</span></h1>
              </div>
            </div>
          </div>
          <div class="numbers-banner-max-width03 max-content-container">
            <div class="numbers-banner-container034">
              <div class="numbers-banner-container035">
                <h1 class="numbers-banner-text32"><span>3</span></h1>
              </div>
              <div class="numbers-banner-container036">
                <h1 class="numbers-banner-text33">
                  <span>sOUTHERN sUBURBS (SS)</span>
                </h1>
              </div>
              <div class="numbers-banner-container037">
                <h1 class="numbers-banner-text34"><span>17</span></h1>
              </div>
              <div class="numbers-banner-container038">
                <h1 class="numbers-banner-text35"><span>3</span></h1>
              </div>
              <div class="numbers-banner-container039">
                <h1 class="numbers-banner-text36"><span>3</span></h1>
              </div>
              <div class="numbers-banner-container040">
                <h1 class="numbers-banner-text37"><span>11</span></h1>
              </div>
              <div class="numbers-banner-container041">
                <h1 class="numbers-banner-text38"><span>12</span></h1>
              </div>
              <div class="numbers-banner-container042">
                <h1 class="numbers-banner-text39"><span>13</span></h1>
              </div>
              <div class="numbers-banner-container043">
                <h1 class="numbers-banner-text40"><span>28</span></h1>
              </div>
              <div class="numbers-banner-container044">
                <h1 class="numbers-banner-text41"><span>-15</span></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="numbers-banner-container045 max-content-container">
          <div class="numbers-banner-heading-container1">
            <span class="numbers-banner-text42">
              <br />
              <br />
              <span>Recent Head to head matches</span>
            </span>
          </div>
          <div class="numbers-banner-numbers-container01">
            <div class="numbers-banner-max-width04 max-content-container">
              <div class="numbers-banner-container046">
                <div class="numbers-banner-container047">
                  <h1 class="numbers-banner-text46"><span>Game #</span></h1>
                </div>
                <div class="numbers-banner-container048">
                  <h1 class="numbers-banner-text47"><span>Match</span></h1>
                </div>
                <div class="numbers-banner-container049">
                  <h1 class="numbers-banner-text48"><span>Score</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container02">
            <div class="numbers-banner-max-width05 max-content-container">
              <div class="numbers-banner-container050">
                <div class="numbers-banner-container051">
                  <h1 class="numbers-banner-text49"><span>1</span></h1>
                </div>
                <div class="numbers-banner-container052">
                  <h1 class="numbers-banner-text50"><span>HF - SS</span></h1>
                </div>
                <div class="numbers-banner-container053">
                  <h1 class="numbers-banner-text51"><span>0 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container03">
            <div class="numbers-banner-max-width06 max-content-container">
              <div class="numbers-banner-container054">
                <div class="numbers-banner-container055">
                  <h1 class="numbers-banner-text52"><span>2</span></h1>
                </div>
                <div class="numbers-banner-container056">
                  <h1 class="numbers-banner-text53"><span>HF - TW</span></h1>
                </div>
                <div class="numbers-banner-container057">
                  <h1 class="numbers-banner-text54"><span>1 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container04">
            <div class="numbers-banner-max-width07 max-content-container">
              <div class="numbers-banner-container058">
                <div class="numbers-banner-container059">
                  <h1 class="numbers-banner-text55"><span>3</span></h1>
                </div>
                <div class="numbers-banner-container060">
                  <h1 class="numbers-banner-text56"><span>HF - SS</span></h1>
                </div>
                <div class="numbers-banner-container061">
                  <h1 class="numbers-banner-text57"><span>2 - 1</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container05">
            <div class="numbers-banner-max-width08 max-content-container">
              <div class="numbers-banner-container062">
                <div class="numbers-banner-container063">
                  <h1 class="numbers-banner-text58"><span>4</span></h1>
                </div>
                <div class="numbers-banner-container064">
                  <h1 class="numbers-banner-text59"><span>HF - TW</span></h1>
                </div>
                <div class="numbers-banner-container065">
                  <h1 class="numbers-banner-text60"><span>0 - 3</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container06">
            <div class="numbers-banner-max-width09 max-content-container">
              <div class="numbers-banner-container066">
                <div class="numbers-banner-container067">
                  <h1 class="numbers-banner-text61"><span>5</span></h1>
                </div>
                <div class="numbers-banner-container068">
                  <h1 class="numbers-banner-text62"><span>TW - SS</span></h1>
                </div>
                <div class="numbers-banner-container069">
                  <h1 class="numbers-banner-text63"><span>2 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container07">
            <div class="numbers-banner-max-width10 max-content-container">
              <div class="numbers-banner-container070">
                <div class="numbers-banner-container071">
                  <h1 class="numbers-banner-text64"><span>6</span></h1>
                </div>
                <div class="numbers-banner-container072">
                  <h1 class="numbers-banner-text65"><span>HF - TW</span></h1>
                </div>
                <div class="numbers-banner-container073">
                  <h1 class="numbers-banner-text66"><span>2 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container08">
            <div class="numbers-banner-max-width11 max-content-container">
              <div class="numbers-banner-container074">
                <div class="numbers-banner-container075">
                  <h1 class="numbers-banner-text67"><span>7</span></h1>
                </div>
                <div class="numbers-banner-container076">
                  <h1 class="numbers-banner-text68"><span>HF - SS</span></h1>
                </div>
                <div class="numbers-banner-container077">
                  <h1 class="numbers-banner-text69"><span>3 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container09">
            <div class="numbers-banner-max-width12 max-content-container">
              <div class="numbers-banner-container078">
                <div class="numbers-banner-container079">
                  <h1 class="numbers-banner-text70"><span>8</span></h1>
                </div>
                <div class="numbers-banner-container080">
                  <h1 class="numbers-banner-text71"><span>HF - TW</span></h1>
                </div>
                <div class="numbers-banner-container081">
                  <h1 class="numbers-banner-text72"><span>0 - 3</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container10">
            <div class="numbers-banner-max-width13 max-content-container">
              <div class="numbers-banner-container082">
                <div class="numbers-banner-container083">
                  <h1 class="numbers-banner-text73"><span>9</span></h1>
                </div>
                <div class="numbers-banner-container084">
                  <h1 class="numbers-banner-text74"><span>TW - SS</span></h1>
                </div>
                <div class="numbers-banner-container085">
                  <h1 class="numbers-banner-text75"><span>2 - 1</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container11">
            <div class="numbers-banner-max-width14 max-content-container">
              <div class="numbers-banner-container086">
                <div class="numbers-banner-container087">
                  <h1 class="numbers-banner-text76"><span>10</span></h1>
                </div>
                <div class="numbers-banner-container088">
                  <h1 class="numbers-banner-text77"><span>HF - TW</span></h1>
                </div>
                <div class="numbers-banner-container089">
                  <h1 class="numbers-banner-text78"><span>0 - 1</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container12">
            <div class="numbers-banner-max-width15 max-content-container">
              <div class="numbers-banner-container090">
                <div class="numbers-banner-container091">
                  <h1 class="numbers-banner-text79"><span>11</span></h1>
                </div>
                <div class="numbers-banner-container092">
                  <h1 class="numbers-banner-text80"><span>TW - SS</span></h1>
                </div>
                <div class="numbers-banner-container093">
                  <h1 class="numbers-banner-text81"><span>3 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container13">
            <div class="numbers-banner-max-width16 max-content-container">
              <div class="numbers-banner-container094">
                <div class="numbers-banner-container095">
                  <h1 class="numbers-banner-text82"><span>12</span></h1>
                </div>
                <div class="numbers-banner-container096">
                  <h1 class="numbers-banner-text83"><span>HF - TW</span></h1>
                </div>
                <div class="numbers-banner-container097">
                  <h1 class="numbers-banner-text84"><span>1 - 2</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container14">
            <div class="numbers-banner-max-width17 max-content-container">
              <div class="numbers-banner-container098">
                <div class="numbers-banner-container099">
                  <h1 class="numbers-banner-text85"><span>13</span></h1>
                </div>
                <div class="numbers-banner-container100">
                  <h1 class="numbers-banner-text86"><span>TW - SS</span></h1>
                </div>
                <div class="numbers-banner-container101">
                  <h1 class="numbers-banner-text87"><span>1 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="numbers-banner-numbers-container15">
            <div class="numbers-banner-max-width18 max-content-container">
              <div class="numbers-banner-container102">
                <div class="numbers-banner-container103">
                  <h1 class="numbers-banner-text88"><span>14</span></h1>
                </div>
                <div class="numbers-banner-container104">
                  <h1 class="numbers-banner-text89"><span>HF - TW</span></h1>
                </div>
                <div class="numbers-banner-container105">
                  <h1 class="numbers-banner-text90"><span>1 - 0</span></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script defer="">
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((slider) => {
            initializeSlider(slider);
          });
        };

        const initializeSlider = (slider) => {
          const slides = slider.querySelectorAll('[data-type="slide"]');
          const middle = Math.ceil(slides.length / 2);
          let currentSlide = middle;

          const nextSlideBtns = document.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = document.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length
                  ? (currentSlide = 1)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 1
                  ? (currentSlide = slides.length)
                  : currentSlide--;
            }

            const slide = slides[0];
            if (!slide) {
              console.error("No slides present");
              return;
            }
            const style = window.getComputedStyle(slide);
            slideWidth =
              parseInt(style.width) +
              parseInt(style.marginLeft) +
              parseInt(style.marginRight);
            const transformValue = -slideWidth * (currentSlide - middle);

            slider.style.transform = `translateX(${transformValue}px)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script>
  </body>
</html>
