.numbers-banner-numbers-banner {
  display: flex;
  position: relative;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  background-image: url("public/group%2029-1500w.png");
}
.numbers-banner-container {
  flex-direction: column;
}
.numbers-banner-heading-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.numbers-banner-text {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.numbers-banner-text01 {
  color: var(--dl-color-scheme-white);
  text-align: center;
}
.numbers-banner-numbers-container {
  width: 100%;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width {
  flex-direction: column;
}
.numbers-banner-container001 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.numbers-banner-container002 {
  flex: 0 0 auto;
  width: 71px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text02 {
  font-size: 12px;
}
.numbers-banner-container003 {
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text03 {
  font-size: 12px;
}
.numbers-banner-container004 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text04 {
  font-size: 12px;
}
.numbers-banner-container005 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text05 {
  font-size: 12px;
}
.numbers-banner-container006 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text06 {
  font-size: 12px;
}
.numbers-banner-container007 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text07 {
  font-size: 12px;
}
.numbers-banner-container008 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text08 {
  font-size: 12px;
}
.numbers-banner-container009 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text09 {
  font-size: 12px;
}
.numbers-banner-container010 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text10 {
  font-size: 12px;
}
.numbers-banner-container011 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text11 {
  font-size: 12px;
}
.numbers-banner-max-width01 {
  flex-direction: column;
}
.numbers-banner-container012 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.numbers-banner-container013 {
  flex: 0 0 auto;
  width: 71px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text12 {
  font-size: 12px;
}
.numbers-banner-container014 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text13 {
  font-size: 12px;
  margin-left: var(--dl-space-space-unit);
}
.numbers-banner-container015 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text14 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container016 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text15 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container017 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text16 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container018 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text17 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container019 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #120cfb;
}
.numbers-banner-text18 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container020 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text19 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container021 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text20 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container022 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text21 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-max-width02 {
  flex-direction: column;
}
.numbers-banner-container023 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.numbers-banner-container024 {
  flex: 0 0 auto;
  width: 71px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text22 {
  font-size: 12px;
}
.numbers-banner-container025 {
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text23 {
  font-size: 12px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.numbers-banner-container026 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text24 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container027 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text25 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container028 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text26 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container029 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text27 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container030 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #120cfb;
}
.numbers-banner-text28 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container031 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text29 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container032 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text30 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container033 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text31 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-max-width03 {
  flex-direction: column;
}
.numbers-banner-container034 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.numbers-banner-container035 {
  flex: 0 0 auto;
  width: 71px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text32 {
  font-size: 12px;
}
.numbers-banner-container036 {
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text33 {
  font-size: 12px;
  margin-left: var(--dl-space-space-unit);
}
.numbers-banner-container037 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text34 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container038 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text35 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container039 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text36 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container040 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text37 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container041 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #120cfb;
}
.numbers-banner-text38 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container042 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text39 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container043 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text40 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container044 {
  flex: 0 0 auto;
  width: 102px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.numbers-banner-text41 {
  color: #ffffff;
  font-size: 14px;
}
.numbers-banner-container045 {
  flex-direction: column;
}
.numbers-banner-heading-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.numbers-banner-text42 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.numbers-banner-numbers-container01 {
  width: 100%;
  display: grid;
  position: relative;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width04 {
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  flex-direction: column;
}
.numbers-banner-container046 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.numbers-banner-container047 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text46 {
  font-size: 12px;
}
.numbers-banner-container048 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text47 {
  font-size: 12px;
}
.numbers-banner-container049 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text48 {
  font-size: 12px;
}
.numbers-banner-numbers-container02 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width05 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container050 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container051 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text49 {
  font-size: 12px;
}
.numbers-banner-container052 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text50 {
  font-size: 12px;
}
.numbers-banner-container053 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text51 {
  font-size: 14px;
}
.numbers-banner-numbers-container03 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width06 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container054 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container055 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text52 {
  font-size: 12px;
}
.numbers-banner-container056 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text53 {
  font-size: 12px;
}
.numbers-banner-container057 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text54 {
  font-size: 14px;
}
.numbers-banner-numbers-container04 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width07 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container058 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container059 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text55 {
  font-size: 12px;
}
.numbers-banner-container060 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text56 {
  font-size: 12px;
}
.numbers-banner-container061 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text57 {
  font-size: 14px;
}
.numbers-banner-numbers-container05 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width08 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container062 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container063 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text58 {
  font-size: 12px;
}
.numbers-banner-container064 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text59 {
  font-size: 12px;
}
.numbers-banner-container065 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text60 {
  font-size: 14px;
}
.numbers-banner-numbers-container06 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width09 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container066 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container067 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text61 {
  font-size: 12px;
}
.numbers-banner-container068 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text62 {
  font-size: 12px;
}
.numbers-banner-container069 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text63 {
  font-size: 14px;
}
.numbers-banner-numbers-container07 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width10 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container070 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container071 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text64 {
  font-size: 12px;
}
.numbers-banner-container072 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text65 {
  font-size: 12px;
}
.numbers-banner-container073 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text66 {
  font-size: 14px;
}
.numbers-banner-numbers-container08 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width11 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container074 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container075 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text67 {
  font-size: 12px;
}
.numbers-banner-container076 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text68 {
  font-size: 12px;
}
.numbers-banner-container077 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text69 {
  font-size: 14px;
}
.numbers-banner-numbers-container09 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width12 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container078 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container079 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text70 {
  font-size: 12px;
}
.numbers-banner-container080 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text71 {
  font-size: 12px;
}
.numbers-banner-container081 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text72 {
  font-size: 14px;
}
.numbers-banner-numbers-container10 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width13 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container082 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container083 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text73 {
  font-size: 12px;
}
.numbers-banner-container084 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text74 {
  font-size: 12px;
}
.numbers-banner-container085 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text75 {
  font-size: 14px;
}
.numbers-banner-numbers-container11 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width14 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container086 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container087 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text76 {
  font-size: 12px;
}
.numbers-banner-container088 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text77 {
  font-size: 12px;
}
.numbers-banner-container089 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text78 {
  font-size: 14px;
}
.numbers-banner-numbers-container12 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width15 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container090 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container091 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text79 {
  font-size: 12px;
}
.numbers-banner-container092 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text80 {
  font-size: 12px;
}
.numbers-banner-container093 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text81 {
  font-size: 14px;
}
.numbers-banner-numbers-container13 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width16 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container094 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container095 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text82 {
  font-size: 12px;
}
.numbers-banner-container096 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text83 {
  font-size: 12px;
}
.numbers-banner-container097 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text84 {
  font-size: 14px;
}
.numbers-banner-numbers-container14 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width17 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container098 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container099 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text85 {
  font-size: 12px;
}
.numbers-banner-container100 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text86 {
  font-size: 12px;
}
.numbers-banner-container101 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text87 {
  font-size: 14px;
}
.numbers-banner-numbers-container15 {
  width: 100%;
  display: grid;
  align-self: center;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.numbers-banner-max-width18 {
  align-items: center;
  flex-direction: column;
}
.numbers-banner-container102 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.numbers-banner-container103 {
  flex: 0 0 auto;
  width: 71px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text88 {
  font-size: 12px;
}
.numbers-banner-container104 {
  flex: 0 0 auto;
  width: 176px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text89 {
  font-size: 12px;
}
.numbers-banner-container105 {
  flex: 0 0 auto;
  width: 102px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.numbers-banner-text90 {
  font-size: 14px;
}
@media(max-width: 991px) {
  .numbers-banner-numbers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-container002 {
    width: 21px;
  }
  .numbers-banner-container004 {
    width: 80px;
  }
  .numbers-banner-container005 {
    width: 80px;
  }
  .numbers-banner-container006 {
    width: 80px;
  }
  .numbers-banner-container007 {
    width: 80px;
  }
  .numbers-banner-container008 {
    width: 80px;
  }
  .numbers-banner-container009 {
    width: 80px;
  }
  .numbers-banner-container010 {
    width: 80px;
  }
  .numbers-banner-container011 {
    width: 80px;
  }
  .numbers-banner-container013 {
    width: 21px;
  }
  .numbers-banner-container015 {
    width: 80px;
  }
  .numbers-banner-container016 {
    width: 80px;
  }
  .numbers-banner-container017 {
    width: 80px;
  }
  .numbers-banner-container018 {
    width: 80px;
  }
  .numbers-banner-container019 {
    width: 80px;
  }
  .numbers-banner-container020 {
    width: 80px;
  }
  .numbers-banner-container021 {
    width: 80px;
  }
  .numbers-banner-container022 {
    width: 80px;
  }
  .numbers-banner-container024 {
    width: 21px;
  }
  .numbers-banner-container026 {
    width: 80px;
  }
  .numbers-banner-container027 {
    width: 80px;
  }
  .numbers-banner-container028 {
    width: 80px;
  }
  .numbers-banner-container029 {
    width: 80px;
  }
  .numbers-banner-container030 {
    width: 80px;
  }
  .numbers-banner-container031 {
    width: 80px;
  }
  .numbers-banner-container032 {
    width: 80px;
  }
  .numbers-banner-container033 {
    width: 80px;
  }
  .numbers-banner-container035 {
    width: 21px;
  }
  .numbers-banner-container037 {
    width: 80px;
  }
  .numbers-banner-container038 {
    width: 80px;
  }
  .numbers-banner-container039 {
    width: 80px;
  }
  .numbers-banner-container040 {
    width: 80px;
  }
  .numbers-banner-container041 {
    width: 80px;
  }
  .numbers-banner-container042 {
    width: 80px;
  }
  .numbers-banner-container043 {
    width: 80px;
  }
  .numbers-banner-container044 {
    width: 80px;
  }
  .numbers-banner-numbers-container01 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container02 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container03 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container04 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container05 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container06 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container07 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container08 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container09 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container10 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container11 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container12 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container13 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container14 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-banner-numbers-container15 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .numbers-banner-numbers-container {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-container002 {
    width: 21px;
  }
  .numbers-banner-container004 {
    width: 40px;
  }
  .numbers-banner-container005 {
    width: 40px;
  }
  .numbers-banner-container006 {
    width: 40px;
  }
  .numbers-banner-container007 {
    width: 40px;
  }
  .numbers-banner-container008 {
    width: 40px;
  }
  .numbers-banner-container009 {
    width: 40px;
  }
  .numbers-banner-container010 {
    width: 40px;
  }
  .numbers-banner-container011 {
    width: 40px;
  }
  .numbers-banner-container013 {
    width: 21px;
  }
  .numbers-banner-container015 {
    width: 40px;
  }
  .numbers-banner-container016 {
    width: 40px;
  }
  .numbers-banner-container017 {
    width: 40px;
  }
  .numbers-banner-container018 {
    width: 40px;
  }
  .numbers-banner-container019 {
    width: 40px;
  }
  .numbers-banner-container020 {
    width: 40px;
  }
  .numbers-banner-container021 {
    width: 40px;
  }
  .numbers-banner-container022 {
    width: 40px;
  }
  .numbers-banner-container024 {
    width: 21px;
  }
  .numbers-banner-container026 {
    width: 40px;
  }
  .numbers-banner-container027 {
    width: 40px;
  }
  .numbers-banner-container028 {
    width: 40px;
  }
  .numbers-banner-container029 {
    width: 40px;
  }
  .numbers-banner-container030 {
    width: 40px;
  }
  .numbers-banner-container031 {
    width: 40px;
  }
  .numbers-banner-container032 {
    width: 40px;
  }
  .numbers-banner-container033 {
    width: 40px;
  }
  .numbers-banner-container035 {
    width: 21px;
  }
  .numbers-banner-container037 {
    width: 40px;
  }
  .numbers-banner-container038 {
    width: 40px;
  }
  .numbers-banner-container039 {
    width: 40px;
  }
  .numbers-banner-container040 {
    width: 40px;
  }
  .numbers-banner-container041 {
    width: 40px;
  }
  .numbers-banner-container042 {
    width: 40px;
  }
  .numbers-banner-container043 {
    width: 40px;
  }
  .numbers-banner-container044 {
    width: 40px;
  }
  .numbers-banner-numbers-container01 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container02 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container03 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container04 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container05 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container06 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container07 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container08 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container09 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container10 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container11 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container12 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container13 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container14 {
    grid-template-columns: 1fr 1fr;
  }
  .numbers-banner-numbers-container15 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .numbers-banner-max-width {
    width: 100%;
    max-width: 100%;
    min-width: 0%;
  }
  .numbers-banner-container002 {
    width: 20px;
    height: 25px;
  }
  .numbers-banner-container003 {
    width: 60px;
    height: 25px;
  }
  .numbers-banner-container004 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-container005 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-container006 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-container007 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-container008 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-container009 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-container010 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-container011 {
    width: 25px;
    height: 25px;
  }
  .numbers-banner-max-width01 {
    width: 100%;
    max-width: 100%;
  }
  .numbers-banner-container013 {
    width: 20px;
    height: 55px;
  }
  .numbers-banner-container014 {
    width: 60px;
    height: 55px;
  }
  .numbers-banner-text13 {
    font-size: 11px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .numbers-banner-container015 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container016 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container017 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container018 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container019 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container020 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container021 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container022 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-max-width02 {
    width: 100%;
    max-width: 100%;
  }
  .numbers-banner-container024 {
    width: 20px;
    height: 55px;
  }
  .numbers-banner-container025 {
    width: 60px;
    height: 55px;
  }
  .numbers-banner-text23 {
    font-size: 11px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .numbers-banner-container026 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container027 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container028 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container029 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container030 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container031 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container032 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container033 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-max-width03 {
    width: 100%;
    max-width: 100%;
  }
  .numbers-banner-container035 {
    width: 20px;
    height: 55px;
  }
  .numbers-banner-container036 {
    width: 60px;
    height: 55px;
  }
  .numbers-banner-text33 {
    font-size: 11px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .numbers-banner-container037 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container038 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container039 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container040 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container041 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container042 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container043 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-container044 {
    width: 25px;
    height: 55px;
  }
  .numbers-banner-text42 {
    color: var(--dl-color-scheme-white);
  }
  .numbers-banner-text46 {
    font-size: 12px;
  }
  .numbers-banner-container048 {
    width: 106px;
  }
  .numbers-banner-container052 {
    width: 106px;
  }
  .numbers-banner-text50 {
    font-size: 12px;
  }
  .numbers-banner-container056 {
    width: 106px;
  }
  .numbers-banner-text53 {
    font-size: 12px;
  }
  .numbers-banner-container060 {
    width: 106px;
  }
  .numbers-banner-text56 {
    font-size: 12px;
  }
  .numbers-banner-container064 {
    width: 106px;
  }
  .numbers-banner-text59 {
    font-size: 12px;
  }
  .numbers-banner-container068 {
    width: 106px;
  }
  .numbers-banner-text62 {
    font-size: 12px;
  }
  .numbers-banner-container072 {
    width: 106px;
  }
  .numbers-banner-text65 {
    font-size: 12px;
  }
  .numbers-banner-container076 {
    width: 106px;
  }
  .numbers-banner-text68 {
    font-size: 12px;
  }
  .numbers-banner-container080 {
    width: 106px;
  }
  .numbers-banner-text71 {
    font-size: 12px;
  }
  .numbers-banner-container084 {
    width: 106px;
  }
  .numbers-banner-text74 {
    font-size: 12px;
  }
  .numbers-banner-container088 {
    width: 106px;
  }
  .numbers-banner-text77 {
    font-size: 12px;
  }
  .numbers-banner-container092 {
    width: 106px;
  }
  .numbers-banner-text80 {
    font-size: 12px;
  }
  .numbers-banner-container096 {
    width: 106px;
  }
  .numbers-banner-text83 {
    font-size: 12px;
  }
  .numbers-banner-container100 {
    width: 106px;
  }
  .numbers-banner-text86 {
    font-size: 12px;
  }
  .numbers-banner-container104 {
    width: 106px;
  }
  .numbers-banner-text89 {
    font-size: 12px;
  }
}
