<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>5-Asides-Turf-Kings</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: IBM Plex Sans Condensed;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: normal;
        line-height: 1.5;
        color: var(--dl-color-scheme-darkblue);
        background-color: var(--dl-color-scheme-lightgrey);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="shortcut icon"
      href="public/turfkings1.png"
      type="icon/png"
      sizes="32x32" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="../style.css" /><div
      ><link href="./slide44.css" rel="stylesheet" /><div
        data-type="slide"
        class="slide44-slide slide"
        ><div class="slide44-container max-content-container"
          ><div class="slide44-heading-container"
            ><h1 class="slide44-text"
              ><span class="Heading2">Winner: </span
              ><br class="Heading2" /><span class="Heading2">TIDAL WAVE</span
              ><br /></h1></div
          ><div class="slide44-max-width max-content-container"
            ><div class="slide44-container01"
              ><div class="slide44-container02"
                ><h1 class="slide44-text05"><span>ps</span></h1></div
              ><div class="slide44-container03"
                ><h1 class="slide44-text06"><span>club</span></h1></div
              ><div class="slide44-container04"
                ><h1 class="slide44-text07"><span>mp</span></h1></div
              ><div class="slide44-container05"
                ><h1 class="slide44-text08"><span>w</span></h1></div
              ><div class="slide44-container06"
                ><h1 class="slide44-text09"><span>d</span></h1></div
              ><div class="slide44-container07"
                ><h1 class="slide44-text10"><span>l</span></h1></div
              ><div class="slide44-container08"
                ><h1 class="slide44-text11"><span>pts</span></h1></div
              ><div class="slide44-container09"
                ><h1 class="slide44-text12"><span>gf</span></h1></div
              ><div class="slide44-container10"
                ><h1 class="slide44-text13"><span>ga</span></h1></div
              ><div class="slide44-container11"
                ><h1 class="slide44-text14"><span>gd</span></h1></div
              ></div
            ></div
          ><div class="slide44-max-width1 max-content-container"
            ><div class="slide44-container12"
              ><div class="slide44-container13"
                ><h1 class="slide44-text15"><span>1</span></h1></div
              ><div class="slide44-container14"
                ><h1 class="slide44-text16"><span>TIDAL WAVE</span></h1></div
              ><div class="slide44-container15"
                ><h1 class="slide44-text17"><span>42</span></h1></div
              ><div class="slide44-container16"
                ><h1 class="slide44-text18"><span>19</span></h1></div
              ><div class="slide44-container17"
                ><h1 class="slide44-text19"><span>8</span></h1></div
              ><div class="slide44-container18"
                ><h1 class="slide44-text20"><span>15</span></h1></div
              ><div class="slide44-container19"
                ><h1 class="slide44-text21"><span>64</span></h1></div
              ><div class="slide44-container20"
                ><h1 class="slide44-text22"><span>50</span></h1></div
              ><div class="slide44-container21"
                ><h1 class="slide44-text23"><span>41</span></h1></div
              ><div class="slide44-container22"
                ><h1 class="slide44-text24"><span>9</span></h1></div
              ></div
            ></div
          ><div class="slide44-max-width2 max-content-container"
            ><div class="slide44-container23"
              ><div class="slide44-container24"
                ><h1 class="slide44-text25"><span>2</span></h1></div
              ><div class="slide44-container25"
                ><h1 class="slide44-text26"><span>HIGH FIVES</span></h1></div
              ><div class="slide44-container26"
                ><h1 class="slide44-text27"><span>40</span></h1></div
              ><div class="slide44-container27"
                ><h1 class="slide44-text28"><span>18</span></h1></div
              ><div class="slide44-container28"
                ><h1 class="slide44-text29"><span>9</span></h1></div
              ><div class="slide44-container29"
                ><h1 class="slide44-text30"><span>13</span></h1></div
              ><div class="slide44-container30"
                ><h1 class="slide44-text31"><span>63</span></h1></div
              ><div class="slide44-container31"
                ><h1 class="slide44-text32"><span>48</span></h1></div
              ><div class="slide44-container32"
                ><h1 class="slide44-text33"><span>41</span></h1></div
              ><div class="slide44-container33"
                ><h1 class="slide44-text34"><span>7</span></h1></div
              ></div
            ></div
          ><div class="slide44-container34 max-content-container"
            ><div class="slide44-container35"
              ><h1 class="slide44-text35"><span>3</span></h1></div
            ><div class="slide44-container36"
              ><h1 class="slide44-text36"
                ><span>SOUTHERN SUBURBS</span></h1
              ></div
            ><div class="slide44-container37"
              ><h1 class="slide44-text37"><span>38</span></h1></div
            ><div class="slide44-container38"
              ><h1 class="slide44-text38"><span>10</span></h1></div
            ><div class="slide44-container39"
              ><h1 class="slide44-text39"><span>9</span></h1></div
            ><div class="slide44-container40"
              ><h1 class="slide44-text40"><span>19</span></h1></div
            ><div class="slide44-container41"
              ><h1 class="slide44-text41"><span>39</span></h1></div
            ><div class="slide44-container42"
              ><h1 class="slide44-text42"><span>37</span></h1></div
            ><div class="slide44-container43"
              ><h1 class="slide44-text43"><span>53</span></h1></div
            ><div class="slide44-container44"
              ><h1 class="slide44-text44"><span>-16</span></h1></div
            ></div
          ></div
        ><h3 class="slide44-text45"
          ><span class="slide44-text46">MARch</span><br /></h3></div
    ></div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script
    ><script defer="">
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((slider) => {
            initializeSlider(slider);
          });
        };

        const initializeSlider = (slider) => {
          const slides = slider.querySelectorAll('[data-type="slide"]');
          const middle = Math.ceil(slides.length / 2);
          let currentSlide = middle;

          const nextSlideBtns = document.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = document.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length
                  ? (currentSlide = 1)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 1
                  ? (currentSlide = slides.length)
                  : currentSlide--;
            }

            const slide = slides[0];
            if (!slide) {
              console.error("No slides present");
              return;
            }
            const style = window.getComputedStyle(slide);
            slideWidth =
              parseInt(style.width) +
              parseInt(style.marginLeft) +
              parseInt(style.marginRight);
            const transformValue = -slideWidth * (currentSlide - middle);

            slider.style.transform = `translateX(${transformValue}px)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script></body
  ></html
>
