.slide2-slide {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #0016ff;
}
.slide2-max-wdith {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.slide2-text {
  color: var(--dl-color-scheme-white);
}
.slide2-max-wdith1 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.slide2-text01 {
  color: var(--dl-color-scheme-white);
}
.slide2-container {
  flex-direction: column;
}
.slide2-numbers-container {
  width: 100%;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.slide2-max-width {
  flex-direction: column;
}
.slide2-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slide2-container02 {
  flex: 0 0 auto;
  width: 21px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text02 {
  font-size: 12px;
}
.slide2-container03 {
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text03 {
  font-size: 12px;
}
.slide2-container04 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text04 {
  font-size: 12px;
}
.slide2-container05 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text05 {
  font-size: 12px;
}
.slide2-container06 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text06 {
  font-size: 12px;
}
.slide2-container07 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text07 {
  font-size: 12px;
}
.slide2-container08 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text08 {
  font-size: 12px;
}
.slide2-container09 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text09 {
  font-size: 12px;
}
.slide2-container10 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text10 {
  font-size: 12px;
}
.slide2-container11 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text11 {
  font-size: 12px;
}
.slide2-max-width1 {
  flex-direction: column;
}
.slide2-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slide2-container13 {
  flex: 0 0 auto;
  width: 21px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text12 {
  font-size: 12px;
}
.slide2-container14 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text13 {
  font-size: 12px;
  margin-left: var(--dl-space-space-unit);
}
.slide2-container15 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text14 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container16 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text15 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container17 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text16 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container18 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text17 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container19 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #120cfb;
}
.slide2-text18 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container20 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text19 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container21 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text20 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container22 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text21 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-max-width2 {
  flex-direction: column;
}
.slide2-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slide2-container24 {
  flex: 0 0 auto;
  width: 21px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text22 {
  font-size: 12px;
}
.slide2-container25 {
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text23 {
  font-size: 12px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.slide2-container26 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text24 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container27 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text25 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container28 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text26 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container29 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text27 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container30 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #120cfb;
}
.slide2-text28 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container31 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text29 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container32 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text30 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container33 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text31 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-max-width3 {
  flex-direction: column;
}
.slide2-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slide2-container35 {
  flex: 0 0 auto;
  width: 21px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text32 {
  font-size: 12px;
}
.slide2-container36 {
  flex: 0 0 auto;
  width: 176px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #6ab2fd;
}
.slide2-text33 {
  font-size: 12px;
  margin-left: var(--dl-space-space-unit);
}
.slide2-container37 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text34 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container38 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text35 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container39 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text36 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container40 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text37 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container41 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #120cfb;
}
.slide2-text38 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container42 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text39 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container43 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text40 {
  color: #ffffff;
  font-size: 14px;
}
.slide2-container44 {
  flex: 0 0 auto;
  width: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.slide2-text41 {
  color: #ffffff;
  font-size: 14px;
}
@media(max-width: 991px) {
  .slide2-numbers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slide2-container02 {
    width: 21px;
  }
  .slide2-container04 {
    width: 80px;
  }
  .slide2-container05 {
    width: 80px;
  }
  .slide2-container06 {
    width: 80px;
  }
  .slide2-container07 {
    width: 80px;
  }
  .slide2-container08 {
    width: 80px;
  }
  .slide2-container09 {
    width: 80px;
  }
  .slide2-container10 {
    width: 80px;
  }
  .slide2-container11 {
    width: 80px;
  }
  .slide2-container13 {
    width: 21px;
  }
  .slide2-container15 {
    width: 80px;
  }
  .slide2-container16 {
    width: 80px;
  }
  .slide2-container17 {
    width: 80px;
  }
  .slide2-container18 {
    width: 80px;
  }
  .slide2-container19 {
    width: 80px;
  }
  .slide2-container20 {
    width: 80px;
  }
  .slide2-container21 {
    width: 80px;
  }
  .slide2-container22 {
    width: 80px;
  }
  .slide2-container24 {
    width: 21px;
  }
  .slide2-container26 {
    width: 80px;
  }
  .slide2-container27 {
    width: 80px;
  }
  .slide2-container28 {
    width: 80px;
  }
  .slide2-container29 {
    width: 80px;
  }
  .slide2-container30 {
    width: 80px;
  }
  .slide2-container31 {
    width: 80px;
  }
  .slide2-container32 {
    width: 80px;
  }
  .slide2-container33 {
    width: 80px;
  }
  .slide2-container35 {
    width: 21px;
  }
  .slide2-container37 {
    width: 80px;
  }
  .slide2-container38 {
    width: 80px;
  }
  .slide2-container39 {
    width: 80px;
  }
  .slide2-container40 {
    width: 80px;
  }
  .slide2-container41 {
    width: 80px;
  }
  .slide2-container42 {
    width: 80px;
  }
  .slide2-container43 {
    width: 80px;
  }
  .slide2-container44 {
    width: 80px;
  }
}
@media(max-width: 767px) {
  .slide2-numbers-container {
    grid-template-columns: 1fr 1fr;
  }
  .slide2-container02 {
    width: 21px;
  }
  .slide2-container04 {
    width: 40px;
  }
  .slide2-container05 {
    width: 40px;
  }
  .slide2-container06 {
    width: 40px;
  }
  .slide2-container07 {
    width: 40px;
  }
  .slide2-container08 {
    width: 40px;
  }
  .slide2-container09 {
    width: 40px;
  }
  .slide2-container10 {
    width: 40px;
  }
  .slide2-container11 {
    width: 40px;
  }
  .slide2-container13 {
    width: 21px;
  }
  .slide2-container15 {
    width: 40px;
  }
  .slide2-container16 {
    width: 40px;
  }
  .slide2-container17 {
    width: 40px;
  }
  .slide2-container18 {
    width: 40px;
  }
  .slide2-container19 {
    width: 40px;
  }
  .slide2-container20 {
    width: 40px;
  }
  .slide2-container21 {
    width: 40px;
  }
  .slide2-container22 {
    width: 40px;
  }
  .slide2-container24 {
    width: 21px;
  }
  .slide2-container26 {
    width: 40px;
  }
  .slide2-container27 {
    width: 40px;
  }
  .slide2-container28 {
    width: 40px;
  }
  .slide2-container29 {
    width: 40px;
  }
  .slide2-container30 {
    width: 40px;
  }
  .slide2-container31 {
    width: 40px;
  }
  .slide2-container32 {
    width: 40px;
  }
  .slide2-container33 {
    width: 40px;
  }
  .slide2-container35 {
    width: 21px;
  }
  .slide2-container37 {
    width: 40px;
  }
  .slide2-container38 {
    width: 40px;
  }
  .slide2-container39 {
    width: 40px;
  }
  .slide2-container40 {
    width: 40px;
  }
  .slide2-container41 {
    width: 40px;
  }
  .slide2-container42 {
    width: 40px;
  }
  .slide2-container43 {
    width: 40px;
  }
  .slide2-container44 {
    width: 40px;
  }
}
@media(max-width: 479px) {
  .slide2-max-width {
    width: 100%;
    max-width: 100%;
    min-width: 0%;
  }
  .slide2-container02 {
    width: 20px;
    height: 25px;
  }
  .slide2-container03 {
    width: 60px;
    height: 25px;
  }
  .slide2-container04 {
    width: 25px;
    height: 25px;
  }
  .slide2-container05 {
    width: 25px;
    height: 25px;
  }
  .slide2-container06 {
    width: 25px;
    height: 25px;
  }
  .slide2-container07 {
    width: 25px;
    height: 25px;
  }
  .slide2-container08 {
    width: 25px;
    height: 25px;
  }
  .slide2-container09 {
    width: 25px;
    height: 25px;
  }
  .slide2-container10 {
    width: 25px;
    height: 25px;
  }
  .slide2-container11 {
    width: 25px;
    height: 25px;
  }
  .slide2-max-width1 {
    width: 100%;
    max-width: 100%;
  }
  .slide2-container13 {
    width: 20px;
    height: 55px;
  }
  .slide2-container14 {
    width: 60px;
    height: 55px;
  }
  .slide2-text13 {
    font-size: 11px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .slide2-container15 {
    width: 25px;
    height: 55px;
  }
  .slide2-container16 {
    width: 25px;
    height: 55px;
  }
  .slide2-container17 {
    width: 25px;
    height: 55px;
  }
  .slide2-container18 {
    width: 25px;
    height: 55px;
  }
  .slide2-container19 {
    width: 25px;
    height: 55px;
  }
  .slide2-container20 {
    width: 25px;
    height: 55px;
  }
  .slide2-container21 {
    width: 25px;
    height: 55px;
  }
  .slide2-container22 {
    width: 25px;
    height: 55px;
  }
  .slide2-max-width2 {
    width: 100%;
    max-width: 100%;
  }
  .slide2-container24 {
    width: 20px;
    height: 55px;
  }
  .slide2-container25 {
    width: 60px;
    height: 55px;
  }
  .slide2-text23 {
    font-size: 11px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .slide2-container26 {
    width: 25px;
    height: 55px;
  }
  .slide2-container27 {
    width: 25px;
    height: 55px;
  }
  .slide2-container28 {
    width: 25px;
    height: 55px;
  }
  .slide2-container29 {
    width: 25px;
    height: 55px;
  }
  .slide2-container30 {
    width: 25px;
    height: 55px;
  }
  .slide2-container31 {
    width: 25px;
    height: 55px;
  }
  .slide2-container32 {
    width: 25px;
    height: 55px;
  }
  .slide2-container33 {
    width: 25px;
    height: 55px;
  }
  .slide2-max-width3 {
    width: 100%;
    max-width: 100%;
  }
  .slide2-container35 {
    width: 20px;
    height: 55px;
  }
  .slide2-container36 {
    width: 60px;
    height: 55px;
  }
  .slide2-text33 {
    font-size: 11px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .slide2-container37 {
    width: 25px;
    height: 55px;
  }
  .slide2-container38 {
    width: 25px;
    height: 55px;
  }
  .slide2-container39 {
    width: 25px;
    height: 55px;
  }
  .slide2-container40 {
    width: 25px;
    height: 55px;
  }
  .slide2-container41 {
    width: 25px;
    height: 55px;
  }
  .slide2-container42 {
    width: 25px;
    height: 55px;
  }
  .slide2-container43 {
    width: 25px;
    height: 55px;
  }
  .slide2-container44 {
    width: 25px;
    height: 55px;
  }
}
